@import url("reset.css");
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --white-color: #ffffff;
  --header-border: #ececec;
  --dark-gray-color: #212121;
  --footer-link-color: #ffffff99;
  --gray-bg-color: #2f303a;
  --gray: #757575;
  --brand-color: #2196f3;
  --light-gr-color: #f5f4fa;
  --ee-color: #eeeeee;
}
html,
body {
  height: 100%;
  color: var(--dark-gray-color);
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* HEADER */

.header {
  background-color: var(--white-color);
  padding: 32px 0;
  border-bottom: 1px var(--header-border) solid;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  width: 145px;
  height: 31px;
  display: block;
}
.header-nav {
  display: flex;
  column-gap: 50px;
  margin-left: 93px;
}
.header-link {
  color: var(--dark-gray-color);
  text-decoration: none;
  font-weight: 500;
  display: block;
}
.header-li {
  position: relative;
}
.highlight {
  color: var(--gray);
}
.header-link.active {
  color: var(--brand-color);
}
.header-contacts {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}
.header-link:hover {
  color: var(--brand-color);
}
.nav-filters {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  background: var(--light-gr-color);
  border-radius: 8px;
  display: none;
  padding-top: 5px;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.nav-filter {
  padding: 10px;
  position: relative;
}
.nav-contacts {
  background-color: var(--light-gr-color);
  position: absolute;
  top: 0;
  right: 100%;
  border-radius: 4px;
  padding: 10px;
  display: none;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.nav-contacts li {
  padding: 5px;
}
.header-li:hover .nav-filters {
  display: block;
}
.nav-filter:last-child:hover .nav-contacts {
  display: block;
}

/* MAIN */

.hero {
  background: var(--gray-bg-color) url(../image/hero-img.jpg) no-repeat center /
    100%;
  position: relative;
}
.hero::before {
  position: absolute;
  content: "";
  inset: 0;
  background: rgba(47, 48, 58, 0.4);
}
.hero-container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 695px;
  position: relative;
  z-index: 1;
}
.hero-title {
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--white-color);

  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.3;
}
.hero-button {
  margin-top: 30px;
}
.button {
  background-color: var(--brand-color);
  color: var(--white-color);
  font-weight: 700;
  border-radius: 4px;
  padding: 15px 52px;
  font-size: 16px;
}
.hidden {
  visibility: hidden;
}
.main-information {
  padding-top: 94px;
  flex-direction: column;
}
.main-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.info-list {
  color: var(--gray);
  flex: 1 1 23%;
  line-height: 1.5;
  letter-spacing: 0.06em;
  padding-top: 150px;
  position: relative;
}
.title-main-list {
  color: var(--dark-gray-color);
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.info-li {
}
.info-list::before {
  content: "";
  position: absolute;
  height: 120px;
  inset: 0;
  border-radius: 4px;
}
.info-list:nth-child(1)::before {
  background: #f5f4fa url(../image/antenna.svg) no-repeat scroll 50%/70px;
}
.info-list:nth-child(2)::before {
  background: #f5f4fa url(../image/Vector.png) no-repeat scroll 50%/70px;
}
.info-list:nth-child(3)::before {
  background: #f5f4fa url(../image/computer.png) no-repeat scroll 50%/70px;
}
.info-list:nth-child(4)::before {
  background: #f5f4fa url(../image/astronaut.svg) no-repeat scroll 50%/70px;
}
/* What are we doing */

.doing {
  padding: 94px 0;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
}
.doing-card {
  flex: 1 1 30%;
  position: relative;
}
.doing-cards {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.doing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.doing-info-title {
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
  padding: 27px;
}
.doing-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
}

/* OUR TEAM */
.team {
  background-color: var(--light-gr-color);
  padding: 94px 0;
}
.team .title {
  margin-bottom: 50px;
}
.team-cards {
  display: flex;
  gap: 30px;
}
.avatar-info {
  padding: 30px;
}
.team-card {
  flex: 1 1 24%;
  background-color: var(--white-color);
  text-align: center;
  color: var(--gray);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.team-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.title-avatar {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--dark-gray-color);
}

/* PORTFOLIO */
.portfolio {
  padding: 94px 0;
}

.filter-btn {
  font-weight: 500;
  background-color: var(--light-gr-color);
  padding: 10px 25px;
  border-radius: 4px;
}
.filter-btn.active {
  background-color: var(--brand-color);
  color: var(--white-color);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.filter-btn:hover {
  color: var(--white-color);
  background-color: var(--brand-color);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.button-container {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.projects-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 34px;
}
.project {
  flex: 1 1 30%;
  border: 1px var(--ee-color) solid;
  color: var(--gray);
}
.prjct-info {
  padding: 20px 24px;
  line-height: 1.5;
}
.project-img {
  width: 100%;
  height: 294px;
  object-fit: cover;
}
.prjct-title {
  color: var(--dark-gray-color);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.allusion {
  color: var(--white-color);
  position: absolute;
  background-color: rgb(33, 150, 243, 0.8);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  opacity: 0;
}
.allusion-box {
  position: relative;
  inset: 0;
  height: 294px;
  overflow: hidden;
}
.project:hover .allusion {
  opacity: 1;
}

/* FOOTER */

.footer {
  padding: 60px 0;
  background-color: var(--gray-bg-color);
  margin-top: auto;
}
.footer-logo {
  width: 145px;
  height: 31px;
  display: block;
}
.footer-contacts {
  margin-top: 20px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-link {
  color: var(--white-color);
  opacity: 1;
  text-decoration: none;
}
.footer-list li:nth-child(n + 2) {
  color: var(--footer-link-color);
  opacity: 0.6;
}
